[submodule "difftest"]
	path = difftest
	url = https://github.com/OpenXiangShan/difftest.git
[submodule "riscv-spec-core"]
	path = riscv-spec-core
	url = https://github.com/chenjie35335/riscv-spec-core
